.item{
    color: black;
}
.item.active{
    color: green;
}
.postsBlock{
    padding: 10px;
}
.formInput{
    resize: none;
    min-height: 30px ;
    min-width: 200px;
}

.myPost{
    font-size: 20px;
}
.submitButton{
    width: 100px;
    margin-left: 20px;
}